## Step03-Countvectorizing the Data Collected##

I want to understand what all the regional job descriptions aggregated together would produce as a single 
document itself. 

I have found that items collected in "Paragraphs" typically relate to the work environment or culture of the company. Additionally items that have been collected in "Bullets" relate to the specific technical requirements 
of the job. 

This secion looks to Countvectorize the "Bullets" section specifically.

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

cvec = CountVectorizer()

In [2]:
Para = pd.read_csv('Paragraphs')

In [3]:
bullets = pd.read_csv('Bullets')
bullets

                                                     0
0    5-7 years of Data Modeling and Machine Learnin...
1         5-7 years of Python & R- Language Experience
2               5-7 years of HADOOP-BIGDATA experience
3    Proficiency dealing with extraction and manipu...
4    3 -5 years of experience in advanced statistic...
5    3-5 years of experience of learning systems to...
6    3-5 years of experience of analyzing large dat...
7    3-5 years of experience building large data se...
8    Experience developing custom data models to dr...
9    Experience working in a cross-functional envir...
10                      Excellent Communication Skills
11                                    Good Team Player
12    Able to work independently with minimum guidance
13              Data Scientist jobs in Johns Creek, GA
14               Jobs at SoftVision in Johns Creek, GA
15          Data Scientist salaries in Johns Creek, GA
16                                           Find Jobs
17                                     Company Reviews
18                                       Find Salaries
19                                        Find Resumes
20                                Employers / Post Job
21                                  Upload your resume
22                                             Sign in
23                                       United States
24                           See more recommended jobs
25                                               About
26                                         Help Center
27   Initiate and participate in data mining and re...
28   Audit and profile the data to assess the impac...
29   Conduct A/B testing based on different hypothe...
..                                                 ...
417  Ability to independently structure analyses an...
418  Experience with Excel VBA/macros, Tableau, and...
419              Data Scientist jobs in Alpharetta, GA
420         Jobs at Scientific Games in Alpharetta, GA
421          Data Scientist salaries in Alpharetta, GA
422  Professional Data Scientist jobs in Alpharetta...
423                     Jobs at AT&T in Alpharetta, GA
424  Professional Data Scientist salaries in Alphar...
425  Acts as a mentor to other Data Scientists and ...
426  Builds, maintains, and improves highly complex...
427  Leads the exploration of both internal and ext...
428  Designs, implements, and reads in-market exper...
429  Recommends and supports complex strategic busi...
430  Spearheads the identification, evaluation, and...
431  Uses data visualization techniques to effectiv...
432  Masterâ€™s degree in a quantitative or technical...
433                     5 years of relevant experience
434       Experience in consumer finance and/or retail
435  Experience implementing machine learning model...
436  Possesses strong skills in data exploration an...
437          Microsoft Azure platform skills preferred
438  Demonstrated ability applying advanced statist...
439  Advanced skills with querying languages (SQL, ...
440  Demonstrates proficiency in several areas of d...
441  Effectively resolves problems and roadblocks a...
442  Ability to communicate and present highly comp...
443  Strong leadership capability as well as the ab...
444   Data Scientist Prin Manager jobs in Kennesaw, GA
445                    Jobs at Aaron's in Kennesaw, GA
446  Data Scientist Prin Manager salaries in Kennes...

[447 rows x 1 columns]

In [4]:
bullets['0'][258]

'Intermediate experience in open source programming languages (R/Python)'

`cvec.fit()` will be expecting a pandas Series of text objects:

In [5]:
cvec.fit(bullets['0'])
new_corpus = cvec.transform(bullets['0'])
new_corpus

<447x1064 sparse matrix of type '<class 'numpy.int64'>'
	with 3965 stored elements in Compressed Sparse Row format>

In [6]:
new_corpus.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])

In [7]:
df  = pd.DataFrame(new_corpus.todense(),
                   columns=cvec.get_feature_names())

df.head()

df.sort_values('data', ascending=False).head(10)

,000,100,25,27,28,300,30308,500,59,60,...,world,write,writing,written,yarn,year,years,you,your,yourself
284,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
440,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
223,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
250,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
190,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
218,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
381,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.sum().sort_values(ascending=False)

and              265
in               158
data             151
to               120
of                79
experience        70
or                64
with              63
the               60
ga                59
jobs              49
atlanta           46
scientist         38
learning          34
years             31
machine           29
science           28
models            28
business          27
ability           26
at                26
as                26
techniques        26
for               26
modeling          24
salaries          23
statistical       22
python            21
advanced          20
skills            19
                ...
leveraging         1
leverage           1
leader             1
lead               1
kpis               1
knows              1
keras              1
manufacturing      1
map                1
mapreduce          1
messaging          1
mongodb            1
moderate           1
minimal            1
mine               1
metrics            1
methodology        1
methodologies      1
method             1
mentor             1
markov             1
mentioned          1
member             1
meetings           1
meet               1
media              1
meaningful         1
matters            1
matrix             1
000                1
Length: 1064, dtype: int64

In [9]:
#clean it up by importing STOP Words

from sklearn.feature_extraction import stop_words
 
print(stop_words.ENGLISH_STOP_WORDS)

frozenset({'only', 'another', 'all', 'eg', 'via', 'ever', 'move', 'such', 'hers', 'interest', 'throughout', 'together', 'you', 'i', 'thus', 'its', 'also', 'nothing', 'themselves', 'by', 'might', 'elsewhere', 'twenty', 'there', 'in', 'whoever', 'due', 'how', 'if', 'well', 'his', 'con', 'under', 'against', 'done', 'sixty', 'anywhere', 'detail', 'hence', 'although', 'front', 'call', 'four', 'side', 'for', 'it', 'seems', 'show', 'formerly', 'had', 'because', 'can', 'nevertheless', 'around', 'please', 're', 'often', 'could', 'while', 'myself', 'name', 'may', 'however', 'besides', 'these', 'amongst', 'when', 'what', 'eleven', 'five', 'and', 'been', 'enough', 'everywhere', 'him', 'now', 'our', 'somehow', 'whereafter', 'will', 'mine', 'never', 'per', 'already', 'perhaps', 'last', 'amount', 'or', 'cant', 'each', 'who', 'anyone', 'herself', 'very', 'whose', 'whereby', 'too', 'ours', 'up', 'must', 'become', 'alone', 'anyhow', 'beforehand', 'part', 'system', 'nowhere', 'get', 'over', 'be', 'first', 'some', 'would', 'thereby', 'hereby', 'ten', 'hundred', 'meanwhile', 'again', 'next', 'nobody', 'inc', 'once', 'most', 'out', 'at', 'beside', 'below', 'whenever', 'an', 'rather', 'my', 'latterly', 'yourself', 'whither', 'herein', 'whom', 'she', 'across', 'us', 'afterwards', 'here', 'others', 'yours', 'this', 'cry', 'co', 'except', 'indeed', 'empty', 'itself', 'amoungst', 'fire', 'noone', 'thru', 'above', 'former', 'her', 'none', 'any', 'have', 'mill', 'same', 'take', 'toward', 'found', 'hasnt', 'to', 'becomes', 'fill', 'whether', 'without', 'being', 'ie', 'go', 'nor', 'almost', 'one', 'fifty', 'other', 'serious', 'whole', 'namely', 'couldnt', 'eight', 'between', 'both', 'of', 'neither', 'everyone', 'bottom', 'mostly', 'six', 'so', 'thereupon', 'with', 'twelve', 'were', 'until', 'since', 'more', 'someone', 'thereafter', 'beyond', 'which', 'upon', 'whereupon', 'many', 'no', 'among', 'forty', 'least', 'seeming', 'something', 'than', 'though', 'why', 'describe', 'latter', 'give', 'was', 'thence', 'otherwise', 'whatever', 'three', 'after', 'from', 'two', 'sincere', 'seem', 'anyway', 'as', 'whence', 'back', 'fifteen', 'thick', 'therefore', 'those', 'keep', 'much', 'ourselves', 'on', 'cannot', 'became', 'is', 'less', 'full', 'still', 'anything', 'becoming', 'either', 'few', 'do', 'down', 'into', 'every', 'always', 'me', 'thin', 'your', 'top', 'yet', 'see', 'made', 'along', 'towards', 'their', 'am', 'further', 'hereupon', 'the', 'a', 'bill', 'hereafter', 'seemed', 'that', 'wherever', 'sometimes', 'whereas', 'he', 'onto', 'own', 'several', 'where', 'nine', 'himself', 'behind', 'off', 'then', 'everything', 'not', 'wherein', 'moreover', 'de', 'ltd', 'somewhere', 'has', 'etc', 'should', 'sometime', 'within', 'put', 'un', 'them', 'we', 'therein', 'else', 'but', 'about', 'third', 'find', 'through', 'they', 'before', 'are', 'even', 'during', 'yourselves'})

In [10]:
df.sum().sort_values(ascending=False)

and              265
in               158
data             151
to               120
of                79
experience        70
or                64
with              63
the               60
ga                59
jobs              49
atlanta           46
scientist         38
learning          34
years             31
machine           29
science           28
models            28
business          27
ability           26
at                26
as                26
techniques        26
for               26
modeling          24
salaries          23
statistical       22
python            21
advanced          20
skills            19
                ...
leveraging         1
leverage           1
leader             1
lead               1
kpis               1
knows              1
keras              1
manufacturing      1
map                1
mapreduce          1
messaging          1
mongodb            1
moderate           1
minimal            1
mine               1
metrics            1
methodology        1
methodologies      1
method             1
mentor             1
markov             1
mentioned          1
member             1
meetings           1
meet               1
media              1
meaningful         1
matters            1
matrix             1
000                1
Length: 1064, dtype: int64

In [11]:
#save cleaned up dataframe

df.to_csv('Word Rank')

In [12]:
df1 = pd.read_csv('Word Rank')

In [13]:
df1.sum().sort_values(ascending=False)

Unnamed: 0      99681
and               265
in                158
data              151
to                120
of                 79
experience         70
or                 64
with               63
the                60
ga                 59
jobs               49
atlanta            46
scientist          38
learning           34
years              31
machine            29
science            28
models             28
business           27
techniques         26
for                26
ability            26
as                 26
at                 26
modeling           24
salaries           23
statistical        22
python             21
advanced           20
                ...
sophomore           1
solution            1
hiveql              1
span                1
health              1
spearheads          1
spectral            1
handling            1
handle              1
some                1
if                  1
singular            1
skilled             1
indirectly          1
situations          1
increase            1
size                1
incentives          1
improving           1
sk                  1
utilize             1
solr                1
import              1
smoothing           1
implementing        1
softvision          1
impeccable          1
impacts             1
impactful           1
yourself            1
Length: 1065, dtype: int64